/* Sayfa Genel Renk ve Yazı Tipi */
html {
  font-size: 14px;
  font-family: 'Arial', sans-serif; /* Daha modern bir font ekledik */
  background-color: #e6e2e4; /* Hafif gri-mavi arka plan */
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* Buton Stili */
.btn-primary {
  border-radius: 5px; /* Köşeleri yuvarlat */
  padding: 10px 15px !important; /* Butonun iç padding değerini ayarladık */
  font-size: 18px; /* Yazı boyutunu belirledik */
  text-align: center; /* Metni ortaladık */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;  /* Geçiş efekti ekledik */
}

.btn-primary:hover {
  background-color: #3f6687 !important; /* Hover durumunda daha koyu mavi */
  cursor: pointer; 
  color: white !important;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #0062ff; /* Buton focus rengini değiştirdik */
}

/* Sayfa Arka Planı ve Margin */
html, body {
  height: 100%; /* Sayfanın tamamını kapsar */
  min-height: 100%; /* Sayfa minimum yüksekliği */
  font-size: 14px;
  font-family: 'Arial', sans-serif;
 /* Hafif gri-mavi arka plan */
}


body {
  margin-bottom: 60px;
  background-color: #e6e2e4; /* Beyaz arka plan */
  color: #3f6687; /* Koyu gri metin */
  padding: 20px;
}

/* Placeholder Stili */
.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: #6c757d; /* Daha yumuşak gri placeholder rengi */
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* Form Kontrollerine Gölgelendirme ve Stil */
.form-control, .form-check-input {
  border-radius: 5px; /* Yuvarlatılmış kenarlar */
  border: 3px solid #8498b0; /* Hafif gri kenarlık */
  padding: 12px 15px; /* Padding arttırıldı */
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.form-control:focus, .form-check-input:focus {
  border-color: #2d354b; /* Focus durumunda mavi renk */
  box-shadow: 0 0 0 0.3rem #c0c2d9; 
}

/* Responsive Tasarım İçin Yumuşatma */
@media (max-width: 768px) {
  body {
    padding: 15px; /* Küçük ekranlar için padding küçültüldü */
  }

  .btn {
    padding: 8px 15px; /* Buton boyutu küçük ekranlarda biraz küçültüldü */
  }
}

.container {
  margin-top: 30px;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.col-md-6 {
  flex: 1;
  padding: 10px;
}

h2 {
  margin-bottom: 20px;
}





